streamlit
pandas
db-sqlite3
plotly
openai
requests
langchain-openai
langchain-community
langgraph
networkx
matplotlib
pillow
psycopg2
azure-cosmos
google-cloud-bigquery
base64
subprocess
pyperclip
sqlglot
streamlit-extras
